.DS_Store
.ipynb_checkpoints
__pycache__/
*.pyc
env/
venv/
.idea/
.vscode/
*.log
*.sqlite3
*.db
.venv/
q2_1.png
q3_1.png
q3_2.png
q3_3.png
q3_4.png
midterm/Part2_Q1.docx
midterm/Part2_Q3.docx
guide/guild.mp4
guide/best.pt
guide/YOLODataset_aug
guide/img
guide/test
project/receipts
guide/runs
week10/data/mnist
week11/cifar10_sampled
week11/data
project/test
project/runs
project/best.pt
tictactoe_dqn.pth
